# ignoruj plik
#backup/
#release/
# ignoruj wszystkie pliki .pdf
#
# ignoruj pliki .ods
#
# ignoruj pliki .csv - narazie
#
# ignoruj pliki .py
#*.py
#ignoruj pliki .txt
#
# ignoruj pliki .log
#
#ignoruj katalogi

/__pycache__
/source
